body {
    color: white; 
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(14, 15, 42, 0.623):
    padding: 20px;
    font-size 29px;
    color: rgb(42, 122, 228);
}

section {
    background-color: rgb(14, 16, 67);
    padding-bottom; 80px;
    padding-top;: 80px;